@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    transition: background-color 0.5s ease;
}

header.navbar-scrolled {
    background-color: black;
    color: white;
    position: fixed;
}

header.navbar-container .title-webpage p{
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

header.navbar-container .nav-list ul {
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

header.navbar-container .nav-list li {
    margin-right: 20px;
    list-style-type: none;
}

header.navbar-container .nav-list li a{
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem;
}

header.navbar-scrolled .nav-list li a {
    color: white;
}
header.navbar-container .nav-list li:hover a {
    background-color: black;
    color: white;
    border-radius: 60px;
}

header.navbar-scrolled .nav-list li:hover a {
    background-color: white;
    color: black;
}

main .content {
    width: 100%;
}

main .content #hero {
    background-image: url(../img/unsplash-keyboard.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

main .content #hero .hero-container {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

main .content #hero .hero-container .hero-text p{
    font-size: 18px;
    color: white;
    margin-left: 120px;
}

main .content #hero .hero-container .profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 120px;
}

main .content #sertifikat h2{
    text-align: center;
}

main .content #sertifikat .sertif-container {
    background-color: grey;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;
}

main .content #sertifikat .sertif-container img {
    width: 100%;
    border-radius: 20px;
    align-items: center;
    transition: transform 0.3s ease;
}

main .content #sertifikat .sertif-container img:hover {
    transform: scale(1.2);
}

main .content #sertifikat .sertif-container img:active {
    transform: scale(0.8);
}


main .content #sertifikat .sertif-container .sertif-deskripsi {
    background-color: white;
    font-size: 16px;
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
}

#project h2 {
    text-align: center;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.project-container .box-project {
    width: 33.3%;
    margin: 12px;
    padding: 5px;
    flex: 1;
    border-radius: 20px;
    background-color: grey;
    transition: transform 0.3s ease;
}


.project-container .box-project img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.project-container .box-project .project-deskripsi {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    max-height: 200px;
    overflow:auto;
}

.project-container .box-project .project-deskripsi a {
    text-decoration: none;
    color: black;
}

.project-container .box-project .project-deskripsi p {
    text-align: justify;
}

main aside {
    width: 100%;
}

main aside h2 {
    text-align: center;
}
main aside .profile-container {
    background-color: grey;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 50px;

}
main aside .profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

main aside .profile-container .biodata {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
}

main aside .biodata {
    width: 100%;
}
main aside .biodata .bio-container {
    width: 100%;
}
main aside .biodata .contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

main aside .biodata .contact ul{
    list-style: none;
    padding: 0;
}

main aside .biodata .contact ul li {
    margin: 0 20px;
    display: inline-block;
}

main aside .biodata .contact ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

main aside .biodata .contact ul li a:hover{
    transform: scale(1.3);
}
footer.footer {
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width:812px){
    header.navbar-container {
        flex-direction: column;
    }

    header.navbar-container .title-webpage p {
        text-align: center;
    }

    header.navbar-container .nav-list ul {
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    main .content #hero {
        height: 50%;
    }
    
    main .content #hero .hero-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    main .content #hero .hero-container .hero-text p {
        text-align: center;
        margin-left: 0;
    }
    main .content #hero .hero-container .profile-img {
        order: -1;
        justify-content: center;
        margin-top: 20px;
    }
    main .content #hero .hero-container .profile-img img {
        margin-right: 0;
    }

    main .content #sertifikat .sertif-container {
        width: 70%;
    }

    main aside .profile-container {
        width: 70%;
    }
    main aside .profile-container .biodata .bio-container{
        overflow:auto;
    }
    main aside .biodata .contact ul li {
        margin: 0 10px;
    }
}